
@{
    ViewBag.Title = "Lehoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Lễ hội</h2>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!--/services-sec-->
<div class="w3-services py-5">
    <div class="container py-lg-4">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h6 class="sub-title">Các lễ hội</h6>
            <h3 class="hny-title">Dưới đây là danh sách các lễ hội đặc trưng của dân tộc người Khmer</h3>

        </div>
        <div class="row w3-services-grids">
            <div class="col-lg-4 col-md-6 causes-grid" height="780">
                <div class="causes-grid-info">
                    <a href="#"><img src="~/images/Chol Chnam Thmay-lh.jpg" class="img-fuild" alt=""height="250"></a>
                    <a href="#" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Chol Chnam Thmay
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        Hàng năm, cứ vào 14,15 và 16/4, người Khmer lại tất bật với các hoạt động ăn mừng Chol Chnam Thmay...
                    </p>

                    <a href="@Url.Action("Lehoi1","Home")" class="btn btn-style btn-primary mt-4">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid" height="780">
                <div class="causes-grid-info">
                    <a href="#"><img src="~/images/okombok-lh.jpg" class="img-fuild" alt=""height="250"></a>
                    <a href="#" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Ok Om Bok
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        Một trong những lễ hội của người Khmer nổi tiếng nhất chính là Ok Om Bok được tổ chức vào đầu rằm tháng 10 âm lịch hàng năm...
                    </p>

                    <a href="@Url.Action("Lehoi2","Home")" class="btn btn-style btn-primary mt-4">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid" height="780">
                <div class="causes-grid-info">
                    <a href="#"><img src="~/images/Lễ Pithi Sene Dolta-lh.jpg" class="img-fuild" alt=""height="250"></a>
                    <a href="#" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Lễ Pithi Sene Dolta
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        Dolta hay còn là Lễ cúng ông bà của người dân Khmer, được tổ chức từ 29/8 đến 1/9 âm lịch hàng năm. Là 1 trong 3 lễ hội lớn của người Khmer...
                    </p>

                    <a href="@Url.Action("Lehoi3","Home")" class="btn btn-style btn-primary mt-4">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid" height="780">
                <div class="causes-grid-info">
                    <a href="#"><img src="~/images/Lễ Chôl Vôsa-lh.jpg" class="img-fuild" alt=""height="250"></a>
                    <a href="#" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Lễ Chôl Vôsa
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        Với đồng bào Khmer Nam Bộ, Lễ Chôl Vôsa, Lễ Nhập hạ cũng vô cùng quan trọng. Cứ đến ngày 15-6 âm lịch hàng năm, bà con lại tổ chức Lễ Nhập hạ, cầu cho mưa thuận gió hòa, quốc thái dân an, gia đình yên vui hạnh phúc...
                    </p>


                    <a href="@Url.Action("Lehoi4","Home")" class="btn btn-style btn-primary mt-4">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid" height="780">
                <div class="causes-grid-info">
                    <a href="#"><img src="~/images/Lễ hội Dâng Y Kathinat-lh.jpg" class="img-fuild" alt=""height="250"></a>
                    <a href="#" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Lễ hội Dâng Y Kathinat
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        Hằng năm vào ngày rằm tháng 9 (âm lịch), khắp mọi nơi trên các nước Phật giáo Nguyên ThủyTheravāda, chư tỳ khưu Tăng sau khi làm đại lễ Pavāraṇā (lễ thỉnh mời nhắc nhỡ lỗi lẫn nhau)...
                    </p>

                    <a href="@Url.Action("Lehoi5","Home")" class="btn btn-style btn-primary mt-4">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid" height="780">
                <div class="causes-grid-info">
                    <a href="#"><img src="~/images/Dantockhmer.jpg" class="img-fuild" alt=""height="250"></a>
                    <a href="#" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Lễ hội khác
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        Ngoài ra còn có nhiều lễ hội của người dân tộc...
                    </p>

                    <a href="@Url.Action("Lehoi6","Home")" class="btn btn-style btn-primary mt-4">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//services-sec-->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
</script>

